<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="ServiceStack" version="4.5.8" targetFramework="net46" />
  <package id="ServiceStack.Api.Swagger" version="4.5.4" targetFramework="net46" />
  <package id="ServiceStack.Client" version="4.5.8" targetFramework="net46" />
  <package id="ServiceStack.Common" version="4.5.8" targetFramework="net46" />
  <package id="ServiceStack.Interfaces" version="4.5.8" targetFramework="net46" />
  <package id="ServiceStack.Text" version="4.5.8" targetFramework="net46" />
  <package id="StructureMap" version="4.5.2" targetFramework="net46" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net46" />
  <package id="Topshelf" version="4.0.3" targetFramework="net46" />
</packages>